

.header {
    background-color: #ed217c;
    color: #eec0c6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
} 

.menu {
    background-color: #c4d6b0;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}

.hlavni {
    background-color: #eec0c6;
    color: black;

}

.footer {
    background-color: #ed217c;
    color: #eec0c6;
}