


.header {
    background-color: #ed217c;
    color: #eec0c6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    position: sticky;
    top: 50px;
    
} 

#velikostnadpis {
  font-size: 60px;
}

.menu {
    background-color: #c4d6b0;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    position: sticky;
    top: 0;
    
}

.hlavni {
    background-color: #eec0c6;
    color: black;
    font-family: 'Roboto Slab', serif;
    display: flex;
    grid-template-areas:
        'soutez'
        'aktuality' ;
        
}
    

.footer {
    background-color: #c4d6b0;
    color: black;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    text-align: center;
}

#logoimg {
    height: 250px;
    padding-right: 20px;
}

#ulsoutez {
    list-style-type: square;
  }

  #ulaktuality {
    list-style-type: square;
  }

#betuskaaborek {
  display: flex;
  padding-left: 40%;
  flex-direction: row;
  align-items: center;
}

.column {
    width: 50%;
    margin: 20px;
    padding: 15px;
    background-color: #c4d6b09b;
    border: 1000px;
    border: 4px solid #ed217c;
    padding: 20px;
    width: 1fr;
  }

  

  .columnaktuality {
    width: 1fr;
    display: flex;

  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }







  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .galerie {
    position: relative;
    padding: none;
    margin: none;
    background-color: #ed217c;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #c4d6b0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #ed217dc8;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #152502;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-galerie {
    text-align: center;
    background-color: #ed217c;
    padding: 2px 16px;
    color: #eec0c6;
  }
  
  .rowgaleire:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .columngalerie {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    display: block;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }