.mainContainer {
    background-color: #eec0c6 ;
    color: #11100f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con {
    display: grid;
    grid-template-rows: 50px 200px auto auto 100px;
    flex-direction: row;
    height: 100vh;
}
