.mainContainer {
    background-color: #eec0c6 ;
    color: #11100f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

.con {
    display: grid;
    grid-template-rows: 200px 50px auto 100px;
    flex-direction: row;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
   
}
