body {
    background-color: #eec0c6 ;
    color: #11100f;
    margin: 0px;
}

h1 {
    text-align: center;
}

.text {
    display:flex;
    padding-left: 10px;
    float: right;
    flex-direction: column;
    
}

.tutorialyimg {
 height: 200px;
 width: 200px;
 padding: 7px;
 float: left;
}

.noname {
    display: flex;

    
}


    
.nadpis { 
    color: #ed217c ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 60PX;

}

.menutut {
    background-color: #f03f8e;
    display: flex;
    flex-direction: row;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    position: sticky;
    top: 0;
}