body {
    background-color: #eec0c6 ;
    color: #11100f;
    margin: 0px;
}

h1 {
    text-align: center;
}

.text {
    display:flex;
    padding-left: 10px;
    float: right;
    flex-direction: column;
    
}

.tutorialyimg {
 height: 200px;
 width: 200px;
 padding: 20px;
 float: left;
}

.noname {
    display: flex;
    font-family: 'Roboto Slab', serif; 
    border-style: solid;
    border-color: #ed217c;
    margin: 20px;
    background-color: #c4d6b09b;
}


    
.nadpis { 
    color: #eec0c6 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 60PX;
   
}

.tutnadpis {

    background-color: #ed217c;
    color: #eec0c6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    
}

#logoimgtut {
    height: 250px;
    padding-right: 20px;
}

.menutut {
    background-color: #c4d6b0;
    color: #eec0c6;
    display: flex;
    flex-direction: row;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    position: sticky;
    top: 0;
}

.tutcelek {
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-rows: 50px 200px auto 100px;
    flex-direction: row;
    height: 100vh;
}

.tutfooter {
    background-color: #c4d6b0;
    color: black;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    text-align: center;
}