body {
    background-color: #eec0c6 ;
    color: #11100f;
    padding: 0 32px;
}
h2 {
    padding: 0 1%;
    font-size: 30px;
    margin: 10px;
}
h1 {
    text-align: center;
    padding: 2%;
}

p {
    font-size: 25px;
}

.mainContainer  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.paragraphContainer {
    width: 40%;
    padding:10px
}
.font-i {
    font-style: italic;
}

.Container {
display: flex;

}
.noname {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
}
