
body {
    background-color: #eec0c6 ;
    color: #11100f;
    padding: 0;
    margin: 0;
}
h2 {
    padding: 0 1%;
    font-size: 25px;
    margin: 10px;

}
h1 {
    text-align: center;
    padding: 2%;
    font-family: 'Sedgwick Ave Display', cursive;
}

p {
    font-size: 25px;
    margin: 10px;
}

.mainContainer  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
      
}

.paragraphContainer {

    width: 40%;
    padding:10px

}
   

.Container {
    display: flex;
    padding: 20px;
}
.noname {
    display: flex;
    justify-content: flex-start;
    padding: 0px 20px;
    flex-direction: column;
}

.onascon {
    display: grid;
    grid-template-rows: 50px 200px auto 100px;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.onasmenu {
    background-color: #c4d6b0;
    color: #eec0c6;
    display: flex;
    flex-direction: row;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    position: sticky;
    top: 0; 
}

.nadpisonas {

    background-color: #ed217c;
    color: #eec0c6;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 50px;

}

#logoimgonas {
    height: 250px;
<<<<<<< HEAD
    padding-right: 20px;
=======
    margin: 20px 20px;
    padding-left: 302px;
>>>>>>> f8c49054a4042cafcd2f7c2897e17465879d2ea2
    
}

#velikostnadpis {
    font-size: 60px;
  }

.footeronas {
    background-color: #c4d6b0;
    color: black;
    font-family: 'Roboto Slab', serif;
    align-items: center;
    text-align: center;
    
}